.loginModal{
    background: linear-gradient(0deg, #F4F7FC 54.13%, rgba(244, 247, 252, 0.83) 75%, rgba(244, 247, 252, 0.49) 100%) , url('../../../assets/images/newLogin.png');
    background-position: top center ;
    background-repeat: no-repeat;

    height: auto;
    width: 100%;

    > .SIGNIN{
        padding: 0px 20px;
        @media (min-width : 992px){
            padding: 0px 40px;
        }
    }

    > .SIGNUP{
        padding: 0px 20px;
        @media (min-width : 992px){
            padding: 0px 40px;
        }
    }
    
// transform: rotate(-180deg);
}