.Product {
  .img-box {
    position: relative;
    .circle {
      aspect-ratio: 1/1;
    }
    img{
      position: relative;
      width: 65%;
      @media (min-width : 992px) {
        position: absolute;
        width: 70%;
        
        top: -100px;
        z-index: 2;
        right: 0px;
      }

    }

    @media (min-width : 992px) {
      &::after{
        content: "";
        position: absolute;
        top: -80px;
        left: 0px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        z-index: 1;
        background: rgba(46, 81, 219, 0.14);
      }
    }
  }
  .tabs-btn button {
    height: 60px;
    &:first-child {
      border-top-right-radius: 0.5rem;
    }
    &:last-child {
      border-top-left-radius: 0.5rem;
    }
  }
}
